*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
!dist/*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.kotlin/
server/20260801/config.php
server/20260801/install.lock
